<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-7ELRJF5/u1pkLd0W7K793Y7ZCb1ISE8FjEKiDAwHD3nSDbA2E9Txc423ovuNf1CV" crossorigin="anonymous">
    <style>
      body{padding:1em;}
      section{
        animation: fade 2s ease;
      }
      @keyframes fade {
        from{
          opacity:0;
        }
      }
    </style>
  </head>
  <body>

    <main>
      You need enable Javascript :( ...
    </main>

    <script rel="javascript">

        let url = '/read/info',
        main = document.querySelector('main');
        fetch(url)
        .then(r => r.json())
        .then(r => {
          main.innerHTML = 'Loading....';
          let w = setTimeout(()=>{
            main.innerHTML = '<section>'+r.html+'</section>';
            clearTimeout(w);
          },800)
        })

    </script>


  </body>
</html>
