<!DOCTYPE html>
<html>
  <head>
    <title>Api Markdown</title>
    <meta name="description" content="Simple api with Markdown file">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
      section{
        animation: fade 2s ease;
      }
      @keyframes fade {
        from{
          opacity:0;
        }
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Shortcodes Api</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#/read/info">Info <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/read/shortcodes">Shortcodes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/read/about">About</a>
          </li>
        </ul>
      </div>
    </nav>


    <main class="container mt-5">
      You need enable Javascript :( ...
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script rel="javascript">

        const renderSection = (url) => {
          let main = document.querySelector('main');
          fetch(url)
          .then(r => r.json())
          .then(r => {
            main.innerHTML = 'Loading....';
            let w = setTimeout(()=>{
              main.innerHTML = '<section>'+r.html+'</section>';
              clearTimeout(w);
            },200)
          })
        }

        renderSection('./read/info');

        let links = document.querySelectorAll('.nav-link');
        Array.from(links).forEach((item) => {
            item.addEventListener('click',(e) => {
              let url = e.target.href.replace(/#/g,'.');
              renderSection(url);
            });
        });

    </script>


  </body>
</html>
