<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.rawgit.com/kbrsh/wing/master/dist/wing.min.css">
    <style>
      body{padding:1em;}
    </style>
  </head>
  <body>
    
    <main class="row">
      <section class="col">
        <h3>
          Markdown to Json.
        </h3>
        <p>
          This is a Experiment to transform Markdown files in json format.
        </p>
        <p>
          Check json demo <a href="./read/demo">Demo </a> :) or <a href="./read/another">Another demo </a> ,
          <br/>
          <b>You can test with this code</b>
        </p>
        
        <p>
          <pre>
            <code>
let url = 'https://ruddy-stage.glitch.me/read/demo';
fetch(url)
.then(r => r.json())
.then(r => {
  document.head.title = r.attributes.title;
  document.body.innerHTML = r.html;
})
            </code>
          </pre>
        </p>
        
        <p>
          Also you can use shortcodes.

          <pre><code>
          
Hello World [color name=violet] Buuu! [/color]

hola mundo [blue]Que pasa[/blue]

hola mundo [green]Que pasa[/green]

hola mundo [red]Que pasa[/red]

[note padding=1em background=red color=blue]
  Hello World
[/note]

[note padding=1em] 
  Black note 
[/note]

[youtube class=iframe id=muONBiadpl8]
[youtube id=Hfm7q6CT36U]
          </code></pre>
          
          
        </p>
    
        <p>
          <button class="demo">
            Test Demo
          </button>  
        </p>
    
      </section>
    </main>
    
    <script>
      document.querySelector('.demo').addEventListener('click',(e)=>{
        e.preventDefault();
        let url = 'https://ruddy-stage.glitch.me/read/demo';
        fetch(url)
        .then(r => r.json())
        .then(r => {
          document.body.innerHTML += r.html;
          window.scrollTo(0, 1024);
        })
      })
    </script>


  </body>
</html>
